<h1>The Labor Economics of Paid Crowdsourcing</h1>

<p>
It's pretty clear that many Amazon Mechanical Turk (AMT) workers are motivated primarily by <a href="http://behind-the-enemy-lines.blogspot.com/2008/03/why-people-participate-on-mechanical.html">money<a/>, which suggests economics is the best tool for understanding worker decision-making. Research by 
<a href="http://smallsocialsystems.com/papers/AMT_HComp_v8.pdf">Winter Mason and Duncan Watts</a> shows that workers behave in a way <i>consistent</i> with economic rationality: when they paid more, workers produced more output. 

<p> Although any sensible model predicts less work for more money, standard labor economics models makes several other predictions (some might call them assumptions): workers should make decisions based solely on the real wage offered---payment divided by time spent---and they compare this offered wage to their <a href="http://en.wikipedia.org/wiki/Reservation_wage">reservation wage</a> for a particular task. Because it drives decision-making, the reservation wage is the key parameter in labor supply models, but it is hard to estimate in practice; when we observe someone working, even if we know their wage we don't get to observe their reservation wage parameter---we just know that their wage is above the reservation wage.</p>  

In a new <a href="http://arxiv.org/abs/1001.0627v1"> paper<a/> (joint with Lydia Chilton), we use a unique method that allows us to estimate reservation wages for workers on AMT. This allows us to test the standard model. Although we find some agreement with the simple rational model, we also find some evidence that worker's
are "target earners"---that they seek to reach certain salient targets (e.g., the maximum amount available or numbers divisible by 5). This kind of behavior has been found in other places, but it runs counter to the rational model.  
</p>

<h3>The Task</h3>
<p>For our task, subjects clicked back and forth between two vertical bars in a Flash game (screen shot below). A block of 10 back-and-forth clicks made up one unit of output, and subjects could decide how many blocks to complete. The amount paid per-block was constantly decreasing. This constantly decreasing rate allowed us to esimate a worker's reservation wage, by looking at the implied wage when they "quit." A live demo of the task is at <a href="http://209.20.81.65/twobutton_exp1/bin-release/LaborSupplyFittsLaw.html">here.</a>  
</p> 
<img src="task.png">
<h3>Results</h3>
<p>
Subjects were randomly assigned to either a HIGH or LOW group. The HIGH group was paid 3 times more than LOW for every task. The figure below shows output in both groups. One striking feature of the data is how bimodal output is: some workers produce lots of output and some produce very little. For this bimodality to be consistent with rationality, the distribution of reservation wages themselves would have to be very bimodal, which seems unlikely. 
</p> 

<p>
We found that the imputed reservation wage distributions were quite different across groups. Because of randomization, the distributions should have been indistinguishable. In particular, we found that the reservation wages in LOW were too low, suggesting that workers in LOW, on average, worked more than they should have. Why?
</p>   

<img src="output.png">

<h4>Target earning</h4> 
<p>One possible explanation for why there is too much output in LOW is that at least some workers try to earn the maximum amount possible, regardless of the "wage" associated with this strategy. Having an earnings target may sound rational, but can lead to some perverse results. For example, workers might work longer when wages are low (because they still want to meet their target) than when they are higher (though there are other reasons this can happen, namely <a href="http://en.wikipedia.org/wiki/Income_effect">income effects</a>). 
</p>

<p>
We find several pieces of evidence for target earning, but the strongest is that workes show a preference for earning total amounts <i>divisible by 5.</i> In the figure below, the earnings of workers in HIGH are plotted as a histogram, with horizontal panels for the whole cents earned. E.g., earnings amounts 29.2, 29.5 and 29.9 would all be in the same "29 cent" panel. The height of the bars show how many subjects earned that amount of money. Panels where the whole cents are divisible by 5 have black histogram bars; the others have white bars.   
</p>

<p>
We can see that in the smallest earnings amounts (e.g., 2, 3 and 5 cents) all get several subjects, but because these are people who quit very early, they presumably do not have a target or would not need a target. However, we see clear output spikes at 15, 20 and 25 cents. The probability of this happening by chance is about 3 in 1000 (see the paper for details). 
</p> 

<img src="fives.png">
</p>

<h3>Conclusion</h3> 
We find some agreement with the rational model, as well as important anomolies consistent with some ideas from behavioral economics. While it's probably too early to offer much practical design advice, it does seem that designer's should give workers natural targets, as they seem to help at least some workers. 

The paper is called "The Labor Economics of Crowdsourcing" and is available <a href="http://arxiv.org/abs/1001.0627v1">here</a>. 
   
